# Web Framework
fastapi==0.111.0
uvicorn[standard]==0.29.0

# Configuration
pydantic==2.7.1
pydantic-settings==2.3.1
python-dotenv==1.0.1

# Database
sqlalchemy==2.0.30
psycopg2-binary==2.9.9
alembic==1.13.1

# HTTP Client
httpx==0.27.0

# Security
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.9

# AI / Computer Vision
deepface
retina-face
tensorflow
tf-keras
groq

opencv-python==4.13.0.92
insightface>=0.7.3
onnxruntime>=1.18.0
numpy

# Testing
pytest==8.2.0
pytest-asyncio==0.23.6

# Utilities
loguru==0.7.2